.user_container {
  padding: 2rem;
  width: 400px;
  margin: 2rem auto;
  padding: 0 2rem;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.user_container_header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  user-select: none;
  cursor: default;

  //icons
  svg {
    font-size: 2rem;
  }
}
