.input {
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  border: none;
  background: var(--green);
  color: var(--white);

  //padrões
  &::placeholder {
    color: var(--white);
  }

  //ações
  &:focus {
    outline: 2px solid var(--white);
  }
}
